.background{
    -fx-background-color: #EBEBEB;
}

.header{
    -fx-font-family: "Vela Sans ExtBd";
    -fx-font-size: 50px;
    -fx-text-fill: #4D7BFF;
}

.button{
    -fx-background-radius: 31px;
    -fx-background-color: #4D7BFF;
    -fx-font-family: "Vela Sans ExtBd";
    -fx-font-size: 39px;
    -fx-text-fill: #EBEBEB;
}